body.loading {
  overflow: hidden;
  height: 100vh;
}

.loader {
  .loader-inner {
    .image-block {
      position: absolute;
      transform-origin: center;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        object-fit: fill;
      }
    }
  }
}
