$move-initial: calc(0% + 4vw);
$move-final: calc(-25% + 4vw);

.marquee {
  position: relative;
  overflow: hidden;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d($move-initial, 0, 0);
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
}

.marquee.animate .marquee__inner {
  animation-play-state: running;
}

.marquee .row-title {
  padding: 0 4vw;
}

@keyframes marquee {
  0% {
    transform: translate3d($move-initial, 0, 0);
  }

  100% {
    transform: translate3d($move-final, 0, 0);
  }
}
